/* Main Movie Carousel */
.movie-carousel {
  max-width: 90%;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  background-color: black;
  padding: 10px 0;
  margin-top: 10px;
  min-height: 280px;
}

/* Carousel Container */
.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

/* Multi-Image Slide */
.carousel-slide {
  text-align: center;
}

/* Group of Posters in One Slide */
.poster-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Carousel Poster Styling */
.carousel-poster-img {
  width: 100%;
  max-width: 170px;
  height: 260px;
  object-fit: cover;
  border-radius: 10px;
  background-color: black;
  transition: transform 0.3s ease-in-out;
}

/* Responsive */
@media (max-width: 1024px) {
  .carousel-poster-img {
    max-width: 180px;
    height: 260px;
  }
}

@media (max-width: 768px) {
  .movie-carousel {
    max-width: 95%;
    min-height: 400px;
  }
  .carousel-poster-img {
    max-width: 280px;
    height: 380px;
    border-radius: 12px;
  }
}

@media (max-width: 480px) {
  .movie-carousel {
    min-height: 370px;
  }
  .carousel-poster-img {
    max-width: 250px;
    height: 350px;
  }
}
